Repository kedro-org/kedro: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

isort:
  name: Sort imports
  language: system
  entry: isort

black:
  name: Black
  language: system
  entry: black

secret_scan:
  name: Secret scan
  language: system
  pass_filenames: false
  entry: make secret-scan

bandit:
  name: Bandit security check
  language: system
  entry: bandit -ll

pylint-quick-kedro:
  name: Quick PyLint on kedro/*
  language: system
  entry: pylint -j 4 --disable=unnecessary-pass
  stages:
  - commit

pylint-quick-features:
  name: Quick PyLint on features/*
  language: system
  entry: pylint -j 4 --disable=missing-docstring,no-name-in-module
  stages:
  - commit

pylint-quick-tests:
  name: Quick PyLint on tests/*
  language: system
  entry: pylint -j 4 --disable=missing-docstring,redefined-outer-name,no-self-use,invalid-name,protected-access,too-many-arguments,too-many-public-methods
  stages:
  - commit

pip install --upgrade -r requirements.txt -r test_requirements.txt
  .circleci/config.yml
Due: secret_scan

[KED-2706] Upgrade fsspec (#1195)
  RELEASE.md
  requirements.txt
  test_requirements.txt
Due: secret_scan

[KED-2766] DataSetError 'parsing config' thrown when ModuleNotFound (#1201)
  kedro/io/core.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

[KED-2717] Update docstrings to mention the meaning of the _SINGLE_PROCESS flag in datasets (#1196)
  RELEASE.md
  docs/conf.py
  docs/source/07_extend_kedro/03_custom_datasets.md
  kedro/extras/datasets/spark/spark_dataset.py
  kedro/io/core.py
  kedro/runner/parallel_runner.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

pip install --upgrade -r test_requirements.txt
  .circleci/config.yml
Due: secret_scan

update setup
  setup.py
Due: isort, secret_scan, bandit

delete
  docs/source/10_deployment/04_argo.md
Due: secret_scan

Relax ipython pinning range (#853)
  setup.py
Due: isort, secret_scan, bandit

[KED-2768] Fix kedro install flow (#1203)
  RELEASE.md
  kedro/framework/cli/jupyter.py
  kedro/framework/project/__init__.py
  kedro/framework/session/session.py
  tests/extras/extensions/test_ipython.py
  tests/framework/context/test_context.py
  tests/framework/project/test_pipeline_registry.py
  tests/framework/session/conftest.py
  tests/framework/session/test_session.py
  tests/framework/test_startup.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Use "dataset" over "data_set" for all module names
  kedro/io/__init__.py
  kedro/io/lambda_dataset.py
  kedro/io/memory_dataset.py
  kedro/io/partitioned_dataset.py
  tests/io/test_lambda_dataset.py
  tests/io/test_memory_dataset.py
  tests/io/test_partitioned_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Use `dataset` over `data_set` for all module names
  docs/conf.py
  kedro/io/cached_dataset.py
  kedro/io/data_catalog.py
  kedro/runner/parallel_runner.py
  tests/extras/datasets/spark/test_memory_dataset.py
  tests/io/test_cached_dataset.py
  tests/io/test_lambda_dataset.py
  tests/io/test_memory_dataset.py
  tests/pipeline/test_node_run.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_thread_runner.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Find and replace all references to old `data_set`s
  kedro/io/__init__.py
  tests/io/test_memory_dataset.py
  tests/io/test_partitioned_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Rename `memory_data_set.py` to `memory_dataset.py`
  kedro/io/memory_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Rename `lambda_data_set.py` to `lambda_dataset.py`
  kedro/io/lambda_dataset.py
  kedro/io/partitioned_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Update test_requirements.txt
  test_requirements.txt
Due: secret_scan

Update pickle_dataset.py
  kedro/extras/datasets/pickle/pickle_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Update test_pickle_dataset.py
  tests/extras/datasets/pickle/test_pickle_dataset.py
Due: isort, black, secret_scan, pylint-quick-tests

Fix long lines
  kedro/extras/datasets/pickle/pickle_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Remove unexpected indentation
  kedro/extras/datasets/pickle/pickle_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Update RELEASE.md
  RELEASE.md
Due: secret_scan

Fix indentation
  RELEASE.md
Due: secret_scan

[KED-2776] Switch from .whl to tar for pipeline packaging (#1204)
  RELEASE.md
  kedro/framework/cli/pipeline.py
  tests/framework/cli/pipeline/test_pipeline_package.py
  tests/framework/cli/pipeline/test_pipeline_pull.py
  tests/framework/cli/pipeline/test_pipeline_requirements.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Add a `dill` backend to `PickleDataSet` :cucumber: (#1213)
  RELEASE.md
  kedro/extras/datasets/pickle/pickle_dataset.py
  test_requirements.txt
  tests/extras/datasets/pickle/test_pickle_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Make linkchecker happy
  docs/source/10_deployment/05_prefect.md
Due: secret_scan

Fix broken links to Prefect docs in deployment doc
  docs/source/10_deployment/05_prefect.md
Due: secret_scan

Fix broken links to Prefect docs in deployment doc (#860)
  docs/source/10_deployment/05_prefect.md
Due: secret_scan

Fix linkchecker
  docs/source/10_deployment/05_prefect.md
Due: secret_scan

Add pandas.XMLDataSet (#822)
  RELEASE.md
  docs/source/10_deployment/05_prefect.md
  docs/source/15_api_docs/kedro.extras.datasets.rst
  kedro/extras/datasets/pandas/__init__.py
  kedro/extras/datasets/pandas/xml_dataset.py
  setup.py
  test_requirements.txt
  tests/extras/datasets/pandas/test_xml_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

pip install dependencies in one step (#848)
  .circleci/config.yml
Due: secret_scan

Use `dataset` over `data_set` for all module names (#1211)
  RELEASE.md
  docs/conf.py
  kedro/io/__init__.py
  kedro/io/cached_dataset.py
  kedro/io/data_catalog.py
  kedro/io/lambda_dataset.py
  kedro/io/memory_dataset.py
  kedro/io/partitioned_dataset.py
  kedro/runner/parallel_runner.py
  tests/extras/datasets/spark/test_memory_dataset.py
  tests/io/test_cached_dataset.py
  tests/io/test_lambda_dataset.py
  tests/io/test_memory_dataset.py
  tests/io/test_partitioned_dataset.py
  tests/pipeline/test_node_run.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_thread_runner.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

[KED-2776] Update docs about modular pipeline packaging to tar (#1212)
  docs/source/06_nodes_and_pipelines/03_modular_pipelines.md
  docs/source/09_development/03_commands_reference.md
Due: secret_scan

Add citation
  CITATION.cff
Due: secret_scan

[KED-2782] Aliasing improvements at `kedro pipeline package` time (#1205)
  RELEASE.md
  features/steps/cli_steps.py
  features/steps/util.py
  kedro/config/default_logger.py
  kedro/framework/cli/pipeline.py
  kedro/framework/cli/starters.py
  kedro/pipeline/node.py
  kedro/runner/parallel_runner.py
  requirements.txt
  tests/config/test_templated_config.py
  tests/extras/datasets/pandas/test_sql_dataset.py
  tests/framework/cli/pipeline/test_pipeline_pull.py
  tests/framework/session/test_store.py
  tests/runner/test_parallel_runner.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

[KED-2777] Enable micro-packaging any part of the project's source code, not just `pipelines/` (#1214)
  RELEASE.md
  docs/source/06_nodes_and_pipelines/03_modular_pipelines.md
  docs/source/09_development/03_commands_reference.md
  kedro/framework/cli/pipeline.py
  tests/framework/cli/pipeline/test_pipeline_package.py
  tests/framework/cli/pipeline/test_pipeline_pull.py
  tests/framework/cli/pipeline/test_pipeline_requirements.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Run pyspark tests 3.8 + 3.9 (#1221)
  .circleci/config.yml
Due: secret_scan

Pin ipython to prevent ipykernel dependency problems
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
Due: secret_scan

Fix broken link to html page
  kedro/extras/datasets/README.md
Due: secret_scan

wip: a save only version of and excel multisheet dataset
  kedro/extras/datasets/pandas/excel_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Path conditions:
  isort: any of: \.py$, but not: ^kedro/templates/|^features/steps/test_starter
  black: any of: ^kedro/|^features/|^tests/ and \.py$ and not (^features/steps/test_starter|^kedro/templates/)
  secret_scan: any file but: ^features/steps/test_starter
  bandit: any of: \.py$, but not: ^kedro/templates/|^tests/|^features/steps/test_starter
  pylint-quick-kedro: any of: ^kedro/ and \.py$ and not (^kedro/templates/)
  pylint-quick-features: any of: ^features/ and \.py$ and not (^features/steps/test_starter)
  pylint-quick-tests: any of: ^tests/ and \.py$
