Repository kedro-org/kedro: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

isort:
  name: Sort imports
  language: system
  entry: isort

black:
  name: Black
  language: system
  entry: black

secret_scan:
  name: Secret scan
  language: system
  pass_filenames: false
  entry: make secret-scan

bandit:
  name: Bandit security check
  language: system
  entry: bandit -ll

pylint-quick-kedro:
  name: Quick PyLint on kedro/*
  language: system
  entry: pylint -j 4 --disable=unnecessary-pass
  stages:
  - commit

pylint-quick-features:
  name: Quick PyLint on features/*
  language: system
  entry: pylint -j 4 --disable=missing-docstring,no-name-in-module
  stages:
  - commit

pylint-quick-tests:
  name: Quick PyLint on tests/*
  language: system
  entry: pylint -j 4 --disable=missing-docstring,redefined-outer-name,no-self-use,invalid-name,protected-access,too-many-arguments,too-many-public-methods
  stages:
  - commit

[KED-2571] Update Kedro describe to use default and show namespace (#1116)
  RELEASE.md
  docs/source/09_development/03_commands_reference.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
  kedro/framework/cli/pipeline.py
  tests/framework/cli/test_pipeline.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Update kedro.extras.datasets.rst
  docs/source/14_api_docs/kedro.extras.datasets.rst
Due: secret_scan

Update RELEASE.md
  RELEASE.md
Due: secret_scan

update (#773)
  docs/source/10_deployment/04_argo.md
Due: secret_scan

Add Wildlife Studios to "Who likes Kedro?" section in README (#774)
  README.md
Due: secret_scan

Fix: Add EmailMessageDataSet to doctree (#778)
  RELEASE.md
  docs/source/14_api_docs/kedro.extras.datasets.rst
Due: secret_scan

Fix `CSVDataSet` not found (#776)
  kedro/io/partitioned_data_set.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Minor venv activation correction 01_prerequisites.md (#769)
  docs/source/02_get_started/01_prerequisites.md
Due: secret_scan

[KED-2612] Use pandas API for parquet save (#1119)
  RELEASE.md
  docs/conf.py
  kedro/extras/datasets/pandas/parquet_dataset.py
  tests/extras/datasets/pandas/test_parquet_dataset.py
  tests/extras/datasets/spark/test_spark_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

[KED-2599] Package only params of specified pipeline (#1122)
  RELEASE.md
  docs/source/06_nodes_and_pipelines/03_modular_pipelines.md
  kedro/framework/cli/pipeline.py
  tests/extras/datasets/spark/test_memory_dataset.py
  tests/extras/datasets/spark/test_spark_dataset.py
  tests/framework/cli/test_pipeline_packaging.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

[KED-2628] Stop catching TypeError so we can expose clearer node validation error message (#1129)
  RELEASE.md
  kedro/framework/context/context.py
  kedro/framework/session/session.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Fix release notes (#1132)
  RELEASE.md
Due: secret_scan

Added else such that path contains host, port, user, password and test for smb
  kedro/io/core.py
  tests/io/test_core.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Ensure only smb feeds host, username, password, port
  RELEASE.md
  kedro/io/core.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Fixed indentation
  tests/io/test_core.py
Due: isort, black, secret_scan, pylint-quick-tests

added extra indentation for linting
  tests/io/test_core.py
Due: isort, black, secret_scan, pylint-quick-tests

Preapplied black to test_core
  kedro/io/core.py
  tests/io/test_core.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

[KED-2656] Add the Kedro Principles to docs (#1131)
  RELEASE.md
  docs/source/12_faq/03_kedro_principles.md
  docs/source/index.rst
Due: secret_scan

Change SMB_PROTOCOLS to tuple
  kedro/io/core.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Applied black to new smb_protocols tuple
  kedro/io/core.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

FIX create_master_table is below not above
  docs/source/03_tutorial/04_create_pipelines.md
Due: secret_scan

[FEATURE][KED-2665] Add `CONFIG_LOADER_ARGS` to `Validators` and `settings.py` (#1127)
  RELEASE.md
  docs/source/10_deployment/10_aws_step_functions.md
  kedro/config/templated_config.py
  kedro/framework/context/context.py
  kedro/framework/project/__init__.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Added Hamza to team
  docs/source/12_faq/01_faq.md
Due: secret_scan

Added Hamza to team (#784)
  docs/source/12_faq/01_faq.md
Due: secret_scan

FIX create_master_table is below not above (#783)
  docs/source/03_tutorial/04_create_pipelines.md
Due: secret_scan

Make sure plotly data is read with fsspec (#1128)
  kedro/extras/datasets/plotly/plotly_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Forcing tuple and added smb to docs
  docs/source/05_data/01_data_catalog.md
  kedro/io/core.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Removed unnecessary extra line in docs
  docs/source/05_data/01_data_catalog.md
Due: secret_scan

Remove references to master table (#1137)
  RELEASE.md
  docs/source/03_tutorial/03_set_up_data.md
  docs/source/03_tutorial/04_create_pipelines.md
  docs/source/03_tutorial/06_visualise_pipeline.md
  docs/source/07_extend_kedro/06_transformers.md
  docs/source/10_deployment/07_aws_batch.md
  docs/source/10_deployment/09_aws_sagemaker.md
  docs/source/10_deployment/10_aws_step_functions.md
  tests/pipeline/test_pipeline.py
Due: isort, black, secret_scan, pylint-quick-tests

Fixing smb tuple
  kedro/io/core.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

[FEATURE][KED-2475] `kedro pipeline package` takes the pipeline version rather than the package version (#1124)
  RELEASE.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipelines/data_engineering/__init__.py
  kedro/framework/cli/pipeline.py
  tests/framework/cli/test_pipeline_packaging.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

[KED-2394] Update docs to use pipelines instead of conxtext.pipelines (#1139)
  docs/source/10_deployment/04_argo.md
  docs/source/10_deployment/05_prefect.md
  docs/source/10_deployment/06_kubeflow.md
  docs/source/10_deployment/10_aws_step_functions.md
Due: secret_scan

Reuse `_create_tmp_dir` func instead of redefining
  features/environment.py
Due: isort, black, secret_scan, bandit, pylint-quick-features

Remove intermediate assignment (var is not reused)
  features/steps/cli_steps.py
Due: isort, black, secret_scan, bandit, pylint-quick-features

type ignore was in the wrong place
  kedro/framework/cli/pipeline.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Spaceflights tutorial: only allow "Kedro Tutorial" as name (#1136)
  docs/source/03_tutorial/02_tutorial_template.md
  docs/source/06_nodes_and_pipelines/04_run_a_pipeline.md
Due: secret_scan

Remove stack overflow and discourse references, nudge users to GH Discord (#1142)
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  README.md
  RELEASE.md
  docs/source/02_get_started/01_prerequisites.md
  docs/source/02_get_started/02_install.md
  docs/source/12_faq/01_faq.md
  docs/source/index.rst
Due: secret_scan

[KED-2315] Improve error msg when versioning an existing dataset (#1144)
  RELEASE.md
  kedro/io/core.py
  tests/extras/datasets/email/test_message_dataset.py
  tests/extras/datasets/geojson/test_geojson_dataset.py
  tests/extras/datasets/holoviews/test_holoviews_writer.py
  tests/extras/datasets/json/test_json_dataset.py
  tests/extras/datasets/matplotlib/test_matplotlib_writer.py
  tests/extras/datasets/networkx/test_networkx_dataset.py
  tests/extras/datasets/pandas/test_csv_dataset.py
  tests/extras/datasets/pandas/test_excel_dataset.py
  tests/extras/datasets/pandas/test_feather_dataset.py
  tests/extras/datasets/pandas/test_hdf_dataset.py
  tests/extras/datasets/pandas/test_json_dataset.py
  tests/extras/datasets/pandas/test_parquet_dataset.py
  tests/extras/datasets/pickle/test_pickle_dataset.py
  tests/extras/datasets/pillow/test_image_dataset.py
  tests/extras/datasets/spark/test_spark_dataset.py
  tests/extras/datasets/tensorflow/test_tensorflow_model_dataset.py
  tests/extras/datasets/text/test_text_dataset.py
  tests/extras/datasets/yaml/test_yaml_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Path conditions:
  isort: any of: \.py$, but not: ^kedro/templates/|^features/steps/test_starter
  black: any of: ^kedro/|^features/|^tests/ and \.py$ and not (^features/steps/test_starter|^kedro/templates/)
  secret_scan: any file but: ^features/steps/test_starter
  bandit: any of: \.py$, but not: ^kedro/templates/|^tests/|^features/steps/test_starter
  pylint-quick-kedro: any of: ^kedro/ and \.py$ and not (^kedro/templates/)
  pylint-quick-features: any of: ^features/ and \.py$ and not (^features/steps/test_starter)
  pylint-quick-tests: any of: ^tests/ and \.py$
