Repository kedro-org/kedro: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

Path conditions:
  isort: any of: \.py$, but not: ^kedro/templates/|^features/steps/test_starter
  black: any of: ^kedro/|^features/|^tests/ and \.py$ and not (^features/steps/test_starter|^kedro/templates/)
  secret_scan: any file but: ^features/steps/test_starter
  bandit: any of: \.py$, but not: ^kedro/templates/|^tests/|^features/steps/test_starter
  pylint-quick-kedro: any of: ^kedro/ and \.py$ and not (^kedro/templates/)
  pylint-quick-features: any of: ^features/ and \.py$ and not (^features/steps/test_starter)
  pylint-quick-tests: any of: ^tests/ and \.py$

Fix broken yaml link (#1222)
  docs/source/05_data/01_data_catalog.md
Due: secret_scan

[KED-2806] Add MetricsDataSet (#1215)
  RELEASE.md
  docs/source/15_api_docs/kedro.extras.datasets.rst
  kedro/extras/datasets/tracking/__init__.py
  kedro/extras/datasets/tracking/metrics_dataset.py
  tests/extras/datasets/tracking/__init__.py
  tests/extras/datasets/tracking/test_metrics_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

[KED-2805] New JSONDataSet for experiment tracking (#1218)
  RELEASE.md
  docs/source/15_api_docs/kedro.extras.datasets.rst
  kedro/extras/datasets/tracking/__init__.py
  kedro/extras/datasets/tracking/json_dataset.py
  tests/extras/datasets/tracking/test_json_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Ordered catalog JSON alphabetically. Also added pandas.XMLDataset, plotly.PlotlyDataSet, tracking.JSONDataSet, tracking.MetricsDataSet, and IncrementalDataSet
  kedro/extras/datasets/holoviews/holoviews_writer.py
  static/jsonschema/kedro-catalog-0.18.0.json
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

added changes to RELEASE.md
  RELEASE.md
Due: secret_scan

changed credentials type for all datasets
  static/jsonschema/kedro-catalog-0.18.0.json
Due: secret_scan

Rename kedro-catalog-0.18.0.json to kedro-catalog-0.18.json
  static/jsonschema/kedro-catalog-0.18.json
Due: secret_scan

move KedroContextError
  kedro/errors/__init__.py
  kedro/framework/context/context.py
  kedro/framework/session/session.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

use Runtime Error rather than Exception
  kedro/errors/__init__.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

ignore .envrc files in kedro
  .gitignore
Due: secret_scan

ignore .envrc for direnv users
  .gitignore
Due: secret_scan

ignore .envrc in kedro projects
  kedro/templates/project/{{ cookiecutter.repo_name }}/.gitignore
Due: secret_scan

implement __all__ in __init__ modules
  kedro/config/__init__.py
  kedro/extras/datasets/api/__init__.py
  kedro/extras/datasets/biosequence/__init__.py
  kedro/extras/datasets/dask/__init__.py
  kedro/extras/datasets/email/__init__.py
  kedro/extras/datasets/geopandas/__init__.py
  kedro/extras/datasets/holoviews/__init__.py
  kedro/extras/datasets/json/__init__.py
  kedro/extras/datasets/matplotlib/__init__.py
  kedro/extras/datasets/networkx/__init__.py
  kedro/extras/datasets/pandas/__init__.py
  kedro/extras/datasets/pickle/__init__.py
  kedro/extras/datasets/pillow/__init__.py
  kedro/extras/datasets/plotly/__init__.py
  kedro/extras/datasets/spark/__init__.py
  kedro/extras/datasets/tensorflow/__init__.py
  kedro/extras/datasets/text/__init__.py
  kedro/extras/datasets/tracking/__init__.py
  kedro/extras/datasets/yaml/__init__.py
  kedro/extras/logging/__init__.py
  kedro/extras/transformers/__init__.py
  kedro/framework/cli/__init__.py
  kedro/framework/cli/hooks/__init__.py
  kedro/framework/context/__init__.py
  kedro/framework/hooks/__init__.py
  kedro/framework/session/__init__.py
  kedro/io/__init__.py
  kedro/pipeline/__init__.py
  kedro/runner/__init__.py
  kedro/versioning/__init__.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

remove noqa from template
  kedro/templates/pipeline/{{ cookiecutter.pipeline_name }}/__init__.py
Due: secret_scan

Bug fixes (#1227)
  kedro/framework/cli/pipeline.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

[Snyk] Security upgrade pillow from 7.1.2 to 8.3.2 (#1228)
  setup.py
  test_requirements.txt
Due: isort, secret_scan, bandit

[Snyk] Security upgrade psutil from 5.6.6 to 5.6.7 (#1223)
  features/windows_reqs.txt
  test_requirements.txt
Due: secret_scan

move .envrc to Environments section
  .gitignore
Due: secret_scan

Move .envrc to Environments section
  kedro/templates/project/{{ cookiecutter.repo_name }}/.gitignore
Due: secret_scan

format: sort imports with isort
  kedro/config/__init__.py
  kedro/framework/context/__init__.py
  kedro/io/__init__.py
  kedro/runner/__init__.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

add sphinx-redirects to the docs requirements
  setup.py
Due: isort, secret_scan, bandit

impelement sphinx-redirects
  docs/conf.py
Due: isort, secret_scan, bandit

allow warnings during build to test out sphinx-redirects
  docs/build-docs.sh
Due: secret_scan

[KED-2820] Implement bulk consumption from pyproject.toml (#1224)
  RELEASE.md
  docs/source/06_nodes_and_pipelines/03_modular_pipelines.md
  kedro/framework/cli/pipeline.py
  tests/framework/cli/pipeline/conftest.py
  tests/framework/cli/pipeline/test_pipeline_package.py
  tests/framework/cli/pipeline/test_pipeline_pull.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

[KED-2807] Add experiment tracking section to docs (#1226)
  docs/source/02_get_started/02_install.md
  docs/source/07_extend_kedro/04_plugins.md
  docs/source/08_logging/02_experiment_tracking.md
  docs/source/index.rst
Due: secret_scan

Update test and docs
  docs/source/06_nodes_and_pipelines/03_modular_pipelines.md
  tests/framework/cli/pipeline/test_pipeline_pull.py
Due: isort, black, secret_scan, pylint-quick-tests

Fix test
  kedro/framework/cli/pipeline.py
  tests/framework/cli/pipeline/test_pipeline_pull.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

[KED-2793] Deprecate `kedro install` (#1229)
  RELEASE.md
  kedro/framework/cli/project.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

[KED-2793] Remove `kedro install` (#1230)
  RELEASE.md
  docs/source/02_get_started/05_example_project.md
  docs/source/03_tutorial/01_spaceflights_tutorial.md
  docs/source/03_tutorial/02_tutorial_template.md
  docs/source/03_tutorial/04_create_pipelines.md
  docs/source/04_kedro_project_setup/01_dependencies.md
  docs/source/06_nodes_and_pipelines/03_modular_pipelines.md
  docs/source/09_development/03_commands_reference.md
  docs/source/10_deployment/02_single_machine.md
  docs/source/10_deployment/08_databricks.md
  docs/source/10_deployment/09_aws_sagemaker.md
  docs/source/10_deployment/11_airflow_astronomer.md
  features/build_docs.feature
  features/install.feature
  features/package.feature
  features/steps/cli_steps.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/README.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/setup.py
  kedro/framework/cli/pipeline.py
  kedro/framework/cli/project.py
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/README.md
  tests/framework/cli/test_jupyter.py
  tests/framework/cli/test_project.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

passing tests
  kedro/extras/datasets/pandas/sql_dataset.py
  kedro/extras/datasets/sql/__init__.py
  kedro/extras/datasets/sql/sql_connection_dataset.py
  setup.cfg
  tests/extras/datasets/pandas/test_sql_dataset.py
  tests/extras/datasets/sql/__init__.py
  tests/extras/datasets/sql/test_sql_connection_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

remove todo
  kedro/extras/datasets/sql/sql_connection_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

implement __all__ in __init__ modules (#874)
  kedro/config/__init__.py
  kedro/extras/datasets/api/__init__.py
  kedro/extras/datasets/biosequence/__init__.py
  kedro/extras/datasets/dask/__init__.py
  kedro/extras/datasets/email/__init__.py
  kedro/extras/datasets/geopandas/__init__.py
  kedro/extras/datasets/holoviews/__init__.py
  kedro/extras/datasets/json/__init__.py
  kedro/extras/datasets/matplotlib/__init__.py
  kedro/extras/datasets/networkx/__init__.py
  kedro/extras/datasets/pandas/__init__.py
  kedro/extras/datasets/pickle/__init__.py
  kedro/extras/datasets/pillow/__init__.py
  kedro/extras/datasets/plotly/__init__.py
  kedro/extras/datasets/spark/__init__.py
  kedro/extras/datasets/tensorflow/__init__.py
  kedro/extras/datasets/text/__init__.py
  kedro/extras/datasets/tracking/__init__.py
  kedro/extras/datasets/yaml/__init__.py
  kedro/extras/logging/__init__.py
  kedro/extras/transformers/__init__.py
  kedro/framework/cli/__init__.py
  kedro/framework/cli/hooks/__init__.py
  kedro/framework/context/__init__.py
  kedro/framework/hooks/__init__.py
  kedro/framework/session/__init__.py
  kedro/io/__init__.py
  kedro/pipeline/__init__.py
  kedro/runner/__init__.py
  kedro/templates/pipeline/{{ cookiecutter.pipeline_name }}/__init__.py
  kedro/versioning/__init__.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Ignore .envrc for framework (#872)
  .gitignore
Due: secret_scan

feat: networkx datasets gml and graphml
  RELEASE.md
  docs/source/15_api_docs/kedro.extras.datasets.rst
  kedro/extras/datasets/networkx/__init__.py
  kedro/extras/datasets/networkx/gml_dataset.py
  kedro/extras/datasets/networkx/graphml_dataset.py
  kedro/extras/datasets/networkx/json_dataset.py
  tests/extras/datasets/networkx/test_gml_dataset.py
  tests/extras/datasets/networkx/test_graphml_dataset.py
  tests/extras/datasets/networkx/test_json_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Ignore .envrc in kedro projects (#873)
  kedro/templates/project/{{ cookiecutter.repo_name }}/.gitignore
Due: secret_scan

feat: networkx datasets gml and graphml (#881)
  RELEASE.md
  docs/source/15_api_docs/kedro.extras.datasets.rst
  kedro/extras/datasets/networkx/__init__.py
  kedro/extras/datasets/networkx/gml_dataset.py
  kedro/extras/datasets/networkx/graphml_dataset.py
  kedro/extras/datasets/networkx/json_dataset.py
  tests/extras/datasets/networkx/test_gml_dataset.py
  tests/extras/datasets/networkx/test_graphml_dataset.py
  tests/extras/datasets/networkx/test_json_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Fix broken tests
  tests/framework/cli/test_project.py
Due: isort, black, secret_scan, pylint-quick-tests

Revert merge mistake
  kedro/framework/cli/project.py
  tests/framework/cli/test_project.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

creating sql_dataset branch
  kedro/extras/datasets/pandas/sql_dataset.py
  tests/extras/datasets/pandas/test_sql_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests
