Repository kedro-org/kedro: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

Path conditions:
  isort: any of: \.py$, but not: ^kedro/templates/|^features/steps/test_starter
  black: any of: ^kedro/|^features/|^tests/ and \.py$ and not (^features/steps/test_starter|^kedro/templates/)
  secret_scan: any file but: ^features/steps/test_starter
  bandit: any of: \.py$, but not: ^kedro/templates/|^tests/|^features/steps/test_starter
  pylint-quick-kedro: any of: ^kedro/ and \.py$ and not (^kedro/templates/)
  pylint-quick-features: any of: ^features/ and \.py$ and not (^features/steps/test_starter)
  pylint-quick-tests: any of: ^tests/ and \.py$

[KED-2634] Update architecture diagram (#1177)
  docs/source/12_faq/02_architecture_overview.md
  docs/source/meta/images/KedroArchitecture.drawio
  docs/source/meta/images/kedro_architecture.png
  trufflehog-ignore.txt
Due: secret_scan

Testing pandas 1.3.0
  setup.py
  test_requirements.txt
Due: isort, secret_scan, bandit

[KED-2712, KED-2713] Include requirements in modular pipelines (#1172)
  RELEASE.md
  docs/source/06_nodes_and_pipelines/03_modular_pipelines.md
  kedro/framework/cli/pipeline.py
  kedro/framework/cli/project.py
  kedro/framework/cli/utils.py
  tests/framework/cli/pipeline/__init__.py
  tests/framework/cli/pipeline/conftest.py
  tests/framework/cli/pipeline/test_pipeline.py
  tests/framework/cli/pipeline/test_pipeline_package.py
  tests/framework/cli/pipeline/test_pipeline_pull.py
  tests/framework/cli/pipeline/test_pipeline_requirements.py
  tests/framework/cli/test_project.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

updated src/dist to dist only
  tests/framework/cli/pipeline/conftest.py
  tests/framework/cli/pipeline/test_pipeline_package.py
Due: isort, black, secret_scan, pylint-quick-tests

missed one
  tests/framework/cli/pipeline/test_pipeline_requirements.py
Due: isort, black, secret_scan, pylint-quick-tests

updated legacy tests
  tests/framework/cli/pipeline/test_pipeline_package.py
  tests/framework/cli/pipeline/test_pipeline_requirements.py
Due: isort, black, secret_scan, pylint-quick-tests

updated tests post merge-conflict nightmare
  tests/framework/cli/pipeline/test_pipeline_package.py
Due: isort, black, secret_scan, pylint-quick-tests

testing pandas 1.3
  setup.py
  test_requirements.txt
Due: isort, secret_scan, bandit

Added pandas xmldataset
  RELEASE.md
  docs/source/14_api_docs/kedro.extras.datasets.rst
  kedro/extras/datasets/pandas/__init__.py
  kedro/extras/datasets/pandas/xml_dataset.py
  tests/extras/datasets/pandas/test_xml_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Unlike to_csv, xml has path_or_buffer not path_or_buf
  kedro/extras/datasets/pandas/xml_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Adding lxml to pandas.XMLDataSet requirements
  setup.py
Due: isort, secret_scan, bandit

Add lxml to test_requirements.txt
  test_requirements.txt
Due: secret_scan

linted files
  kedro/extras/datasets/pandas/__init__.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

New tests based on excel dataset
  tests/extras/datasets/pandas/test_xml_dataset.py
Due: isort, black, secret_scan, pylint-quick-tests

New tests based on json dataset
  tests/extras/datasets/pandas/test_xml_dataset.py
Due: isort, black, secret_scan, pylint-quick-tests

Update references to `pipeline` dir to `pipelines` (#814)
  docs/source/12_faq/02_architecture_overview.md
  features/steps/util.py
Due: isort, black, secret_scan, bandit, pylint-quick-features

Updated comments and requirements according to suggestions
  RELEASE.md
  kedro/extras/datasets/pandas/xml_dataset.py
  setup.py
  test_requirements.txt
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Reinserting comments related to default load and save args
  kedro/extras/datasets/pandas/xml_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Reinserting default save index false due to ci errors
  kedro/extras/datasets/pandas/xml_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

[FEATURE][KED-2698] Set `base` and `local` envs via `ConfigLoader` and `settings.py` (#1171)
  RELEASE.md
  docs/conf.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  kedro/config/config.py
  kedro/config/templated_config.py
  kedro/framework/cli/catalog.py
  kedro/framework/cli/pipeline.py
  kedro/framework/context/context.py
  kedro/framework/project/__init__.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  tests/config/test_config.py
  tests/config/test_templated_config.py
  tests/framework/cli/pipeline/conftest.py
  tests/framework/cli/pipeline/test_pipeline.py
  tests/framework/cli/pipeline/test_pipeline_pull.py
  tests/framework/context/test_context.py
  tests/framework/project/test_settings.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Add reference to layers medium article in the FAQ (#1182)
  docs/source/12_faq/01_faq.md
Due: secret_scan

docs: include instructions for pdf
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

style: remove trailing space
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

parent 6ee52dcae6ccbdb9e1e43959b587d5a74b6ddd9a author Simon Brugman <sbrugman@users.noreply.github.com> 1626171646 +0200 committer Simon Brugman <sfbbrugman@gmail.com> 1626283433 +0200
  RELEASE.md
  docs/source/14_api_docs/kedro.extras.datasets.rst
  kedro/extras/datasets/networkx/__init__.py
  kedro/extras/datasets/networkx/gml_dataset.py
  kedro/extras/datasets/networkx/gpickle_dataset.py
  kedro/extras/datasets/networkx/json_dataset.py
  tests/extras/datasets/networkx/test_gml_dataset.py
  tests/extras/datasets/networkx/test_gpickle_dataset.py
  tests/extras/datasets/networkx/test_json_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Fix missing closing '`' in 03_modular_pipelines.md
  docs/source/06_nodes_and_pipelines/03_modular_pipelines.md
Due: secret_scan

Fix missing closing '`' in 03_modular_pipelines.md (#838)
  docs/source/06_nodes_and_pipelines/03_modular_pipelines.md
Due: secret_scan

Instructions on how to save to PDF using Matplotlib (#833)
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Fix broken module style in html doc
  docs/source/css/qb1-sphinx-rtd.css
Due: secret_scan

Docs: Add oracle site to linkcheck exclusions list (#1187)
  docs/conf.py
  kedro/extras/datasets/dask/parquet_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

[KED-2653] Implement bulk packaging from pyproject.toml (#1181)
  RELEASE.md
  docs/source/06_nodes_and_pipelines/03_modular_pipelines.md
  kedro/framework/cli/pipeline.py
  kedro/framework/startup.py
  tests/framework/cli/pipeline/test_pipeline_package.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

omitted a comma in merge-conflict resolution
  docs/conf.py
Due: isort, secret_scan, bandit

[KED-2721] Fix Windows logging with parallel runner (#1180)
  features/steps/cli_steps.py
  kedro/extras/datasets/dask/parquet_dataset.py
  kedro/framework/cli/pipeline.py
  kedro/framework/project/__init__.py
  kedro/runner/parallel_runner.py
  tests/framework/cli/pipeline/test_pipeline_pull.py
  tests/io/test_cached_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

[KED-2506][KED-2721] Make cli.py optional (#1189)
  RELEASE.md
  features/run.feature
  features/steps/cli_steps.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/__main__.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/cli.py
  kedro/extras/datasets/dask/parquet_dataset.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
  kedro/framework/cli/project.py
  kedro/framework/cli/utils.py
  kedro/framework/project/__init__.py
  kedro/runner/parallel_runner.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/__main__.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/cli.py
  tests/framework/cli/conftest.py
  tests/framework/cli/test_cli.py
  tests/framework/cli/test_starters.py
  tests/template/conftest.py
  tests/template/test_cli.py
  tests/template/test_load_context_framework.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

Fix addtl conflicts
  kedro/framework/cli/utils.py
  tests/template/conftest.py
  tests/template/test_load_context_framework.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

[FEATURE][KED-2699] `AbstractConfigLoader` with delegated `_get_config_from_patterns` functionality (#1185)
  RELEASE.md
  kedro/config/abstract_config.py
  kedro/config/common.py
  kedro/config/config.py
  kedro/config/templated_config.py
  kedro/framework/context/context.py
  tests/framework/context/test_context.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Update contributor guide to simplify and restructure it (#1169)
  CONTRIBUTING.md
  docs/README.md
  docs/conf.py
  docs/source/06_nodes_and_pipelines/01_nodes.md
  docs/source/10_deployment/06_kubeflow.md
  docs/source/10_deployment/10_aws_step_functions.md
  docs/source/14_contribution/01_contribute_to_kedro.md
  docs/source/14_contribution/02_developer_contributor_guidelines.md
  docs/source/14_contribution/03_backwards_compatibility.md
  docs/source/14_contribution/04_documentation_contributor_guidelines.md
  docs/source/15_api_docs/kedro.config.rst
  docs/source/15_api_docs/kedro.extras.datasets.rst
  docs/source/15_api_docs/kedro.extras.logging.color_logger.ColorHandler.rst
  docs/source/15_api_docs/kedro.framework.cli.cli.KedroCLI.rst
  docs/source/15_api_docs/kedro.framework.cli.hooks.manager.CLIHooksManager.rst
  docs/source/15_api_docs/kedro.framework.cli.jupyter.SingleKernelSpecManager.rst
  docs/source/15_api_docs/kedro.framework.cli.utils.CommandCollection.rst
  docs/source/15_api_docs/kedro.framework.cli.utils.rst
  docs/source/15_api_docs/kedro.framework.context.rst
  docs/source/15_api_docs/kedro.framework.session.store.BaseSessionStore.rst
  docs/source/15_api_docs/kedro.framework.session.store.ShelveStore.rst
  docs/source/15_api_docs/kedro.io.rst
  docs/source/15_api_docs/kedro.pipeline.rst
  docs/source/15_api_docs/kedro.runner.rst
  docs/source/15_api_docs/kedro.versioning.journal.JournalFileHandler.rst
  docs/source/index.rst
  docs/source/meta/images/kedro_gitflow.svg
  img/kedro_banner.png
  img/pipeline_visualisation.png
Due: isort, secret_scan, bandit

Replace the `00-kedro-init.py` script with the Kedro IPython extension for new projects (#1194)
  RELEASE.md
  docs/conf.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/.ipython/profile_default/ipython_config.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/.ipython/profile_default/startup/00-kedro-init.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/README.md
  kedro/extras/extensions/ipython.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/.ipython/profile_default/ipython_config.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/.ipython/profile_default/startup/00-kedro-init.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Now that pip has a real dependency resolver...
  .circleci/config.yml
Due: secret_scan

pip install -upgrade -r requirements.txt -r test_requirements.txt
  .circleci/config.yml
Due: secret_scan
