Repository kedro-org/kedro: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

Path conditions:
  isort: any of: \.py$, but not: ^kedro/templates/|^features/steps/test_starter
  black: any of: ^kedro/|^features/|^tests/ and \.py$ and not (^features/steps/test_starter|^kedro/templates/)
  secret_scan: any file but: ^features/steps/test_starter
  bandit: any of: \.py$, but not: ^kedro/templates/|^tests/|^features/steps/test_starter
  pylint-quick-kedro: any of: ^kedro/ and \.py$ and not (^kedro/templates/)
  pylint-quick-features: any of: ^features/ and \.py$ and not (^features/steps/test_starter)
  pylint-quick-tests: any of: ^tests/ and \.py$

Add pycharm docs to setup Docker as Python interpreter
  docs/source/09_development/02_set_up_pycharm.md
  docs/source/meta/images/pycharm_docker_interpreter_1.png
  docs/source/meta/images/pycharm_docker_interpreter_2.png
  docs/source/meta/images/pycharm_docker_interpreter_3.png
  docs/source/meta/images/pycharm_docker_interpreter_4.png
Due: secret_scan

Update docs/source/09_development/02_set_up_pycharm.md
  docs/source/09_development/02_set_up_pycharm.md
Due: secret_scan

remove run log screenshot for docker pycharm docs.
  docs/source/09_development/02_set_up_pycharm.md
  docs/source/meta/images/pycharm_docker_interpreter_4.png
Due: secret_scan

add name to release notes
  RELEASE.md
Due: secret_scan

[KED-2625] Add kedro-telemetry to project requirements (#1149)
  features/steps/cli_steps.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/.telemetry
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/requirements.txt
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
Due: isort, black, secret_scan, bandit, pylint-quick-features

Don't install kedro-telemetry for py39 (#1154)
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/requirements.txt
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
Due: secret_scan

RELEASE/0.17.4 (#1151)
  RELEASE.md
  docs/source/03_tutorial/02_tutorial_template.md
  docs/source/09_development/03_commands_reference.md
  docs/source/10_deployment/08_databricks.md
  kedro/__init__.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

[KED-2631] - move and re-title mini kedro documentation (#1146)
  docs/conf.py
  docs/source/02_get_started/06_starters.md
  docs/source/02_get_started/07_standalone_use_of_datacatalog.md
  docs/source/04_kedro_project_setup/04_mini_kedro.md
  docs/source/index.rst
Due: isort, secret_scan, bandit

Merge master into develop via merge-master-to-develop (#1156)
  RELEASE.md
  docs/source/02_get_started/03_hello_kedro.md
  docs/source/03_tutorial/02_tutorial_template.md
  docs/source/05_data/02_kedro_io.md
  docs/source/09_development/03_commands_reference.md
  docs/source/10_deployment/08_databricks.md
  kedro/__init__.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Revert "Merge master into develop via merge-master-to-develop" (#1157)
  RELEASE.md
  docs/source/03_tutorial/02_tutorial_template.md
  docs/source/09_development/03_commands_reference.md
  docs/source/10_deployment/08_databricks.md
  kedro/__init__.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

[KED-2669] Drop support for python 3.6 (#1153)
  .circleci/config.yml
  .readthedocs.yml
  CONTRIBUTING.md
  README.md
  RELEASE.md
  docs/source/01_introduction/01_introduction.md
  docs/source/index.rst
  setup.py
Due: isort, secret_scan, bandit

fix linkcheck
  docs/source/02_get_started/03_hello_kedro.md
  docs/source/05_data/02_kedro_io.md
Due: secret_scan

[KED-2693][FEATURE] Deprecate manual `pipeline package` version override (#1143)
  RELEASE.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipelines/data_engineering/__init__.py
  kedro/framework/cli/pipeline.py
  kedro/templates/pipeline/{{ cookiecutter.pipeline_name }}/__init__.py
  tests/framework/cli/test_pipeline_packaging.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Reuse `_create_tmp_dir` func instead of redefining (#786)
  docs/source/02_get_started/03_hello_kedro.md
  docs/source/05_data/02_kedro_io.md
  features/environment.py
  features/steps/cli_steps.py
Due: isort, black, secret_scan, bandit, pylint-quick-features

[KED-2683] Split `pipeline` CLI group (#1152)
  RELEASE.md
  kedro/framework/cli/cli.py
  kedro/framework/cli/pipeline.py
  kedro/framework/cli/registry.py
  tests/framework/cli/conftest.py
  tests/framework/cli/test_cli.py
  tests/framework/cli/test_registry.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Removed reference to Kedro starter at beginning of tutorial to reduce… (#1145)
  docs/source/03_tutorial/01_spaceflights_tutorial.md
Due: secret_scan

[FEATURE][KED-2646][KED-2647][KED-2648] Update package location to `dist/` (#1159)
  RELEASE.md
  docs/source/03_tutorial/05_package_a_project.md
  docs/source/06_nodes_and_pipelines/03_modular_pipelines.md
  docs/source/09_development/03_commands_reference.md
  docs/source/10_deployment/02_single_machine.md
  docs/source/10_deployment/10_aws_step_functions.md
  docs/source/10_deployment/11_airflow_astronomer.md
  features/steps/cli_steps.py
  kedro/framework/cli/pipeline.py
  kedro/framework/cli/project.py
  tests/framework/cli/test_pipeline_packaging.py
  tests/framework/cli/test_project.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

[KED-2683] Remove pipeline list and pipeline describe (#1162)
  RELEASE.md
  docs/source/09_development/03_commands_reference.md
  kedro/framework/cli/pipeline.py
  tests/framework/cli/test_pipeline.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

FEAT implement KedroRunnerError in place of RuntimeErrors
  kedro/runner/parallel_runner.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

nit docstring style (Google docstrings)
  kedro/errors/__init__.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Update RELEASE.md
  RELEASE.md
Due: secret_scan

Add PyCharm docs to set up Docker as Python interpreter (#788)
  RELEASE.md
  docs/source/09_development/02_set_up_pycharm.md
  docs/source/meta/images/pycharm_docker_interpreter_1.png
  docs/source/meta/images/pycharm_docker_interpreter_2.png
  docs/source/meta/images/pycharm_docker_interpreter_3.png
Due: secret_scan

[KED-2465] Remove fsspec in favour of native pandas API (#1118)
  RELEASE.md
  docs/source/11_tools_integration/01_pyspark.md
  features/windows_reqs.txt
  kedro/extras/datasets/pandas/csv_dataset.py
  kedro/extras/datasets/pandas/excel_dataset.py
  kedro/extras/datasets/pandas/feather_dataset.py
  kedro/extras/datasets/pandas/json_dataset.py
  kedro/extras/datasets/pandas/parquet_dataset.py
  kedro/extras/datasets/plotly/plotly_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  setup.py
  test_requirements.txt
  tests/extras/datasets/pandas/test_csv_dataset.py
  tests/extras/datasets/pandas/test_excel_dataset.py
  tests/extras/datasets/pandas/test_feather_dataset.py
  tests/extras/datasets/pandas/test_json_dataset.py
  tests/extras/datasets/pandas/test_parquet_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

[KED-2506] Ensure cli.py is optional (#1158)
  RELEASE.md
  features/run.feature
  features/steps/cli_steps.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/__main__.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/cli.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
  kedro/framework/cli/project.py
  kedro/framework/cli/utils.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/__main__.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/cli.py
  tests/framework/cli/conftest.py
  tests/framework/cli/test_cli.py
  tests/framework/cli/test_starters.py
  tests/template/conftest.py
  tests/template/test_cli.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

[KED-2671] Merge AppendableExcelDataSet into ExcelDataSet (#1168)
  RELEASE.md
  docs/source/14_api_docs/kedro.extras.datasets.rst
  kedro/extras/datasets/pandas/__init__.py
  kedro/extras/datasets/pandas/appendable_excel_dataset.py
  kedro/extras/datasets/pandas/excel_dataset.py
  setup.py
  tests/extras/datasets/pandas/test_appendable_excel_dataset.py
  tests/extras/datasets/pandas/test_excel_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Update 02_architecture_overview.md
  docs/source/12_faq/02_architecture_overview.md
Due: secret_scan

Update docs/source/12_faq/02_architecture_overview.md
  docs/source/12_faq/02_architecture_overview.md
Due: secret_scan

Update util.py
  features/steps/util.py
Due: isort, black, secret_scan, bandit, pylint-quick-features

[KED-2283] Unpin ipython and ipykernel (#1175)
  features/steps/cli_steps.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/requirements.txt
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/setup.py
  kedro/extras/datasets/plotly/plotly_dataset.py
  kedro/framework/cli/cli.py
  kedro/framework/cli/pipeline.py
  kedro/framework/session/store.py
  kedro/runner/parallel_runner.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/setup.py
  setup.py
  test_requirements.txt
  tests/extras/decorators/test_memory_profiler.py
  tests/framework/cli/test_pipeline_packaging.py
  tests/io/test_cached_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

[KED-2684] Doc updates for customising CLI commands (#1167)
  docs/source/06_nodes_and_pipelines/03_modular_pipelines.md
  docs/source/07_extend_kedro/01_common_use_cases.md
  docs/source/07_extend_kedro/05_create_kedro_starters.md
  docs/source/09_development/03_commands_reference.md
  docs/source/09_development/04_debugging.md
  docs/source/09_development/04_lint.md
  docs/source/10_deployment/07_aws_batch.md
  docs/source/12_faq/02_architecture_overview.md
  docs/source/index.rst
  kedro/framework/cli/cli.py
  kedro/framework/cli/pipeline.py
  kedro/runner/parallel_runner.py
  tests/framework/cli/test_pipeline_packaging.py
  tests/io/test_cached_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

[KED-2670] Handle pandas storage_options (#1170)
  RELEASE.md
  kedro/extras/datasets/pandas/csv_dataset.py
  kedro/extras/datasets/pandas/excel_dataset.py
  kedro/extras/datasets/pandas/feather_dataset.py
  kedro/extras/datasets/pandas/json_dataset.py
  kedro/extras/datasets/pandas/parquet_dataset.py
  tests/extras/datasets/pandas/test_csv_dataset.py
  tests/extras/datasets/pandas/test_excel_dataset.py
  tests/extras/datasets/pandas/test_feather_dataset.py
  tests/extras/datasets/pandas/test_json_dataset.py
  tests/extras/datasets/pandas/test_parquet_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests
