Repository kedro-org/kedro: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

isort:
  name: Sort imports
  language: system
  entry: isort

black:
  name: Black
  language: system
  entry: black

secret_scan:
  name: Secret scan
  language: system
  pass_filenames: false
  entry: make secret-scan

bandit:
  name: Bandit security check
  language: system
  entry: bandit -ll

pylint-quick-kedro:
  name: Quick PyLint on kedro/*
  language: system
  entry: pylint -j 4 --disable=unnecessary-pass
  stages:
  - commit

pylint-quick-features:
  name: Quick PyLint on features/*
  language: system
  entry: pylint -j 4 --disable=missing-docstring,no-name-in-module
  stages:
  - commit

pylint-quick-tests:
  name: Quick PyLint on tests/*
  language: system
  entry: pylint -j 4 --disable=missing-docstring,redefined-outer-name,no-self-use,invalid-name,protected-access,too-many-arguments,too-many-public-methods
  stages:
  - commit

Try conditionals
  .circleci/config.yml
Due: secret_scan

Indent
  .circleci/config.yml
Due: secret_scan

Urgh yaml
  .circleci/config.yml
Due: secret_scan

Pass arguments
  .circleci/config.yml
Due: secret_scan

Ensure path is of type `str` if `overwrite` is set (#1094)
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
  kedro/io/core.py
  kedro/io/partitioned_data_set.py
  tests/extras/datasets/matplotlib/test_matplotlib_writer.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

adding global logging
  kedro/framework/project/__init__.py
  kedro/runner/parallel_runner.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Try win_e2e_tests separately
  .circleci/config.yml
Due: secret_scan

Oops
  .circleci/config.yml
Due: secret_scan

Fix windows hopefully
  .circleci/config.yml
Due: secret_scan

URgh yaml
  .circleci/config.yml
Due: secret_scan

Alter lint to matrix
  .circleci/config.yml
Due: secret_scan

De-parametrise executor
  .circleci/config.yml
Due: secret_scan

Rename executors
  .circleci/config.yml
Due: secret_scan

Add win_pip_compile
  .circleci/config.yml
Due: secret_scan

Try to read logging config inside project init instead of using configloader
  kedro/framework/project/__init__.py
  kedro/framework/startup.py
  tests/framework/project/test_settings.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Add win unit tests
  .circleci/config.yml
Due: secret_scan

Update APIDataSet to accept credientials and a general iterable.
  kedro/extras/datasets/api/api_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Add viz build
  .circleci/config.yml
Due: secret_scan

Update APIDataSet unit test to reflect new functionality.
  tests/extras/datasets/api/test_api_dataset.py
Due: isort, black, secret_scan, pylint-quick-tests

Cosmetic changes
  .circleci/config.yml
Due: secret_scan

Refactor into setup and win_setup
  .circleci/config.yml
Due: secret_scan

Back to parametrised executor
  .circleci/config.yml
Due: secret_scan

Add unit_tests
  .circleci/config.yml
Due: secret_scan

Update RELEASE.md with APIDataSet changes.
  RELEASE.md
Due: secret_scan

Clarify comment
  .circleci/config.yml
Due: secret_scan

Add all files to tools/sync
  tools/sync/.circleci/config.yml
  tools/sync/.gitignore
  tools/sync/README.md
  tools/sync/check-no-version-pypi.sh
  tools/sync/check_package_updates.py
  tools/sync/circle-release.sh
  tools/sync/docker_build_img/Dockerfile
  tools/sync/docker_build_img/build.sh
  tools/sync/github_scripts/attempt_merge_pr.sh
  tools/sync/github_scripts/kedro_version.py
  tools/sync/github_scripts/merge.sh
  tools/sync/github_scripts/release.sh
  tools/sync/requirements.txt
  tools/sync/rtd-build.sh
Due: isort, secret_scan, bandit

Remove unwanted workflows
  tools/sync/.circleci/config.yml
  tools/sync/check_package_updates.py
Due: isort, secret_scan, bandit

Lint
  docs/source/07_extend_kedro/03_custom_datasets.md
Due: secret_scan

Alter file paths and remove clone_repo
  tools/sync/.circleci/config.yml
Due: secret_scan

Replace build_kedro with one job
  tools/sync/.circleci/config.yml
Due: secret_scan

Trigger sync on merge to main
  tools/sync/.circleci/config.yml
Due: secret_scan

Trigger on merge to main rather than nightly
  tools/sync/.circleci/config.yml
Due: secret_scan

Path conditions:
  isort: any of: \.py$, but not: ^kedro/templates/|^features/steps/test_starter
  black: any of: ^kedro/|^features/|^tests/ and \.py$ and not (^features/steps/test_starter|^kedro/templates/)
  secret_scan: any file but: ^features/steps/test_starter
  bandit: any of: \.py$, but not: ^kedro/templates/|^tests/|^features/steps/test_starter
  pylint-quick-kedro: any of: ^kedro/ and \.py$ and not (^kedro/templates/)
  pylint-quick-features: any of: ^features/ and \.py$ and not (^features/steps/test_starter)
  pylint-quick-tests: any of: ^tests/ and \.py$
