Repository kedro-org/kedro: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

isort:
  name: Sort imports
  language: system
  entry: isort

black:
  name: Black
  language: system
  entry: black

secret_scan:
  name: Secret scan
  language: system
  pass_filenames: false
  entry: make secret-scan

bandit:
  name: Bandit security check
  language: system
  entry: bandit -ll

pylint-quick-kedro:
  name: Quick PyLint on kedro/*
  language: system
  entry: pylint -j 4 --disable=unnecessary-pass
  stages:
  - commit

pylint-quick-features:
  name: Quick PyLint on features/*
  language: system
  entry: pylint -j 4 --disable=missing-docstring,no-name-in-module
  stages:
  - commit

pylint-quick-tests:
  name: Quick PyLint on tests/*
  language: system
  entry: pylint -j 4 --disable=missing-docstring,redefined-outer-name,no-self-use,invalid-name,protected-access,too-many-arguments,too-many-public-methods
  stages:
  - commit

Update 07_set_up_experiment_tracking.md
  docs/source/03_tutorial/07_set_up_experiment_tracking.md
Due: secret_scan

Add instructions on DCO
  docs/source/14_contribution/02_developer_contributor_guidelines.md
Due: secret_scan

Lint
  docs/source/14_contribution/02_developer_contributor_guidelines.md
Due: secret_scan

changes based on reviews
  CODE_OF_CONDUCT.md
  docs/conf.py
  docs/source/09_development/03_commands_reference.md
  kedro/framework/cli/cli.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

removing qb emails for git config
  .circleci/config.yml
  features/steps/cli_steps.py
Due: isort, black, secret_scan, bandit, pylint-quick-features

Apply suggestions from code review
  docs/source/14_contribution/02_developer_contributor_guidelines.md
Due: secret_scan

Update docs/source/14_contribution/02_developer_contributor_guidelines.md
  docs/source/14_contribution/02_developer_contributor_guidelines.md
Due: secret_scan

[KED-3049] Update contributors guide to include guidance on DCO (#1167)
  docs/source/14_contribution/02_developer_contributor_guidelines.md
Due: secret_scan

Update CircleCI config
  .circleci/config.yml
Due: secret_scan

Add 3.9 build and alter build script
  .circleci/config.yml
  tools/circleci/docker_build_img/build.sh
Due: secret_scan

Run test nightly_build
  .circleci/config.yml
Due: secret_scan

Try changing pyproj requirement
  test_requirements.txt
Due: secret_scan

Revert "Try changing pyproj requirement"
  test_requirements.txt
Due: secret_scan

Split out nightly_build_develop
  .circleci/config.yml
Due: secret_scan

Test nightly_build_develop
  .circleci/config.yml
Due: secret_scan

Fix requires error
  .circleci/config.yml
Due: secret_scan

Try testing again
  .circleci/config.yml
Due: secret_scan

Revert "Try testing again"
  .circleci/config.yml
Due: secret_scan

Revert "Test nightly_build_develop"
  .circleci/config.yml
Due: secret_scan

Turn dev builds into matrix
  .circleci/config.yml
Due: secret_scan

suggestion for AttributeError messages
  kedro/runner/parallel_runner.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Assertion error message suggestion
  kedro/runner/parallel_runner.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Update CircleCI config to use public docker images (#1171)
  .circleci/config.yml
  tools/circleci/docker_build_img/build.sh
Due: secret_scan

Fix merge Signed-off-by: Antony Milne <antony.milne@quantumblack.com>
  .circleci/config.yml
Due: secret_scan

[KED-3046] Remove "QuantumBlack Labs" from places where it doesn't belong any more (#1161)
  .circleci/config.yml
  CODE_OF_CONDUCT.md
  docs/conf.py
  docs/source/03_tutorial/07_set_up_experiment_tracking.md
  docs/source/09_development/03_commands_reference.md
  features/steps/cli_steps.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/docs/source/conf.py
  kedro/framework/cli/cli.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/docs/source/conf.py
  setup.py
  tests/framework/cli/test_cli.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

Add docs for `make auto-sign-off`
  docs/source/14_contribution/02_developer_contributor_guidelines.md
Due: secret_scan

Create make command
  Makefile
Due: secret_scan

Test
  Makefile
Due: secret_scan

Revert "Test"
  Makefile
Due: secret_scan

Tidy
  Makefile
Due: secret_scan

Create dco.yml
  .github/dco.yml
Due: secret_scan

Add test, cleanup dataset
  kedro/extras/datasets/pandas/sql_dataset.py
  tests/extras/datasets/pandas/test_sql_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Revert SparkDataSet
  kedro/extras/datasets/spark/spark_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Remove global hook_manager, pass hook_manager from session to context + runner methods
  kedro/framework/context/context.py
  kedro/framework/hooks/manager.py
  kedro/framework/session/session.py
  kedro/runner/parallel_runner.py
  kedro/runner/runner.py
  kedro/runner/sequential_runner.py
  kedro/runner/thread_runner.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Path conditions:
  isort: any of: \.py$, but not: ^kedro/templates/|^features/steps/test_starter
  black: any of: ^kedro/|^features/|^tests/ and \.py$ and not (^features/steps/test_starter|^kedro/templates/)
  secret_scan: any file but: ^features/steps/test_starter
  bandit: any of: \.py$, but not: ^kedro/templates/|^tests/|^features/steps/test_starter
  pylint-quick-kedro: any of: ^kedro/ and \.py$ and not (^kedro/templates/)
  pylint-quick-features: any of: ^features/ and \.py$ and not (^features/steps/test_starter)
  pylint-quick-tests: any of: ^tests/ and \.py$
