Repository kedro-org/kedro: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

Path conditions:
  isort: any of: \.py$, but not: ^kedro/templates/|^features/steps/test_starter
  black: any of: ^kedro/|^features/|^tests/ and \.py$ and not (^features/steps/test_starter|^kedro/templates/)
  secret_scan: any file but: ^features/steps/test_starter
  bandit: any of: \.py$, but not: ^kedro/templates/|^tests/|^features/steps/test_starter
  pylint-quick-kedro: any of: ^kedro/ and \.py$ and not (^kedro/templates/)
  pylint-quick-features: any of: ^features/ and \.py$ and not (^features/steps/test_starter)
  pylint-quick-tests: any of: ^tests/ and \.py$

[KED-2327] Verify: warning logged if load_version is not in data catalog (#1292)
  RELEASE.md
  kedro/io/data_catalog.py
  tests/io/test_data_catalog.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Update docs
  docs/source/04_kedro_project_setup/01_dependencies.md
  docs/source/09_development/03_commands_reference.md
Due: secret_scan

Update release notes
  RELEASE.md
Due: secret_scan

Apply suggestions from code review
  kedro/framework/cli/project.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

[KED-2554] Add example of providing nested parameter override to documentation (#991)
  docs/source/09_development/03_commands_reference.md
Due: secret_scan

Add .gitpod.yml
  .gitpod.yml
Due: secret_scan

Add prebuild
  .gitpod.yml
Due: secret_scan

Address review comments
  docs/source/04_kedro_project_setup/01_dependencies.md
  docs/source/09_development/03_commands_reference.md
  features/steps/cli_steps.py
  kedro/framework/cli/project.py
  tests/framework/cli/test_project.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

Add deprecation warning
  RELEASE.md
  kedro/framework/cli/project.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Add requirements, remove confirms(), linting fixes
  kedro/extras/datasets/spark/__init__.py
  kedro/extras/datasets/spark/databricks_deltatable_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  setup.py
  test_requirements.txt
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

[KED-2794] Change `kedro build-reqs` to read from `requirements.txt` and save to `requirements.lock` (#1028)
  RELEASE.md
  docs/source/04_kedro_project_setup/01_dependencies.md
  docs/source/09_development/03_commands_reference.md
  features/steps/cli_steps.py
  kedro/framework/cli/pipeline.py
  kedro/framework/cli/project.py
  kedro/framework/cli/utils.py
  tests/framework/cli/test_project.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

Update docs
  docs/source/07_extend_kedro/01_common_use_cases.md
  docs/source/09_development/03_commands_reference.md
  docs/source/10_deployment/07_aws_batch.md
Due: secret_scan

Update docs
  docs/source/03_tutorial/04_create_pipelines.md
  docs/source/06_nodes_and_pipelines/04_run_a_pipeline.md
Due: secret_scan

Update tests
  features/run.feature
  kedro/framework/cli/project.py
  tests/framework/cli/test_cli.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Update RELEASE
  RELEASE.md
Due: secret_scan

Add --p option to catalog commands
  kedro/framework/cli/catalog.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Update kedro/framework/cli/project.py
  kedro/framework/cli/project.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Add options
  kedro/extras/datasets/spark/spark_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Modify pipeline pull to use requirements.txt instead of requirements.in
  docs/source/06_nodes_and_pipelines/03_modular_pipelines.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/README.md
  kedro/framework/cli/pipeline.py
  kedro/framework/cli/utils.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/README.md
  tests/framework/cli/pipeline/conftest.py
  tests/framework/cli/pipeline/test_pipeline_requirements.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Add test file
  kedro/extras/datasets/spark/__init__.py
  kedro/extras/datasets/spark/deltatable_dataset.py
  tests/extras/datasets/spark/test_deltatable_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Lint
  kedro/framework/cli/project.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Lint
  RELEASE.md
  tests/framework/cli/test_catalog.py
Due: isort, black, secret_scan, pylint-quick-tests

Update .gitpod.yml
  .gitpod.yml
Due: secret_scan

Fix tests
  kedro/extras/datasets/spark/spark_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Separate environments for kedro and spaceflights
  .gitpod.yml
Due: secret_scan

Try again
  .gitpod.yml
Due: secret_scan

Remove spaceflights env
  .gitpod.yml
Due: secret_scan

first implementation
  kedro/extras/datasets/pandas/gbq_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Fix reference to nonexistent `before_dataset_save`
  kedro/extras/transformers/__init__.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Fix path
  .gitpod.yml
Due: secret_scan

This time
  .gitpod.yml
Due: secret_scan

Now?
  .gitpod.yml
Due: secret_scan

Take many
  .gitpod.yml
Due: secret_scan

add to init and remove try except, finalize tests
  kedro/extras/datasets/pandas/__init__.py
  kedro/extras/datasets/pandas/gbq_dataset.py
  tests/extras/datasets/pandas/test_gbq_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

fix docstring
  kedro/extras/datasets/pandas/gbq_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

review comments
  kedro/extras/datasets/pandas/gbq_dataset.py
  tests/extras/datasets/pandas/test_gbq_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

add new dataset entry un release.md
  RELEASE.md
Due: secret_scan

sign in release.md
  RELEASE.md
Due: secret_scan
