Repository kedro-org/kedro: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

Path conditions:
  isort: any of: \.py$, but not: ^kedro/templates/|^features/steps/test_starter
  black: any of: ^kedro/|^features/|^tests/ and \.py$ and not (^features/steps/test_starter|^kedro/templates/)
  secret_scan: any file but: ^features/steps/test_starter
  bandit: any of: \.py$, but not: ^kedro/templates/|^tests/|^features/steps/test_starter
  pylint-quick-kedro: any of: ^kedro/ and \.py$ and not (^kedro/templates/)
  pylint-quick-features: any of: ^features/ and \.py$ and not (^features/steps/test_starter)
  pylint-quick-tests: any of: ^tests/ and \.py$

Fix e2e tests
  features/steps/test_starter/{{ cookiecutter.repo_name }}/docs/source/conf.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/setup.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/docs/source/conf.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/setup.py
Due: secret_scan

[KED-2922] Fix wheel when packaging a modular pipeline under alias the same as package name (#1002)
  tests/framework/cli/pipeline/test_pipeline_package.py
Due: isort, black, secret_scan, pylint-quick-tests

[KED-2921] Allow pulling a modular pipeline with the same name as package name (#1003)
  RELEASE.md
  kedro/framework/cli/pipeline.py
  tests/framework/cli/pipeline/test_pipeline_pull.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

[KED-2856][KED-2919] Allow packaging a modular pipeline with the same name as the project's package name (#996)
  RELEASE.md
  kedro/framework/cli/pipeline.py
  tests/framework/cli/pipeline/test_pipeline_package.py
  tests/framework/cli/pipeline/test_pipeline_pull.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Remove package lock file + simplify recommendation
  docs/package-lock.json
  docs/source/14_contribution/02_developer_contributor_guidelines.md
Due: secret_scan

DOC: Add kedro-airflow-k8s plugin to list of Community Developed Plugins (#1005)
  docs/source/07_extend_kedro/04_plugins.md
Due: secret_scan

Tweaked column header and combine nested param description
  docs/source/09_development/03_commands_reference.md
Due: secret_scan

Update 04_plugins.md
  docs/source/07_extend_kedro/04_plugins.md
Due: secret_scan

Move `overwrite` to end for backward compatibility
  kedro/io/partitioned_data_set.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Remove .coveragerc from project template (#1282)
  RELEASE.md
  docs/source/03_tutorial/02_tutorial_template.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/.coveragerc
  features/steps/test_starter/{{ cookiecutter.repo_name }}/pyproject.toml
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/requirements.txt
  kedro/templates/project/{{ cookiecutter.repo_name }}/.coveragerc
  kedro/templates/project/{{ cookiecutter.repo_name }}/pyproject.toml
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
  test_requirements.txt
  tests/framework/cli/test_starters.py
Due: isort, black, secret_scan, pylint-quick-tests

Remove git-dependency (#1284)
  RELEASE.md
  kedro/framework/cli/starters.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Remove glob from setuptool matching and instead provide list of config files
  kedro/framework/cli/pipeline.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Add CITATION.cff
  CITATION.cff
  README.md
  docs/conf.py
  docs/source/12_faq/01_faq.md
  docs/source/index.rst
Due: isort, secret_scan, bandit

Update README.md
  README.md
Due: secret_scan

Update docs/source/12_faq/01_faq.md
  docs/source/12_faq/01_faq.md
Due: secret_scan

Add CITATION.cff file and remove Zenodo (#1012)
  CITATION.cff
  README.md
  docs/conf.py
  docs/source/12_faq/01_faq.md
  docs/source/index.rst
Due: isort, secret_scan, bandit

Add super nested test case
  tests/framework/cli/pipeline/test_pipeline_package.py
Due: isort, black, secret_scan, pylint-quick-tests

Update 04_plugins.md (#1010)
  docs/source/07_extend_kedro/04_plugins.md
Due: secret_scan

[KED-2898] Include nested pipeline configuration in packaging (#992)
  RELEASE.md
  kedro/framework/cli/pipeline.py
  tests/framework/cli/pipeline/test_pipeline_package.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Set version when dataset is parsed just like other datasets
  kedro/extras/datasets/tracking/json_dataset.py
  kedro/extras/datasets/tracking/metrics_dataset.py
  kedro/io/core.py
  tests/extras/datasets/tracking/test_json_dataset.py
  tests/extras/datasets/tracking/test_metrics_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Add test to verify tracking version is the same as regular versioned ds version
  tests/io/test_data_catalog.py
Due: isort, black, secret_scan, pylint-quick-tests

Fix typo
  RELEASE.md
Due: secret_scan

Update tests/extras/datasets/pandas/test_generic_dataset.py
  tests/extras/datasets/pandas/test_generic_dataset.py
Due: isort, black, secret_scan, pylint-quick-tests

Update kedro/extras/datasets/pandas/generic_dataset.py
  kedro/extras/datasets/pandas/generic_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

[FEATURE] `KedroCLI` structure get (#1266)
  tests/tools/test_cli.py
  tools/cli.py
Due: isort, black, secret_scan, bandit, pylint-quick-tests

Update release notes
  RELEASE.md
Due: secret_scan

[KED-2897] Fix pipeline pull with unparseable requirements (#1280)
  RELEASE.md
  kedro/framework/cli/pipeline.py
  tests/framework/cli/pipeline/test_pipeline_requirements.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Address review comments
  kedro/io/core.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Simplify contribution workflow (#989)
  .github/PULL_REQUEST_TEMPLATE.md
  RELEASE.md
Due: secret_scan

Deprecate decorators
  kedro/extras/decorators/__init__.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Add release notes
  RELEASE.md
Due: secret_scan

Remove decorators code and tests
  kedro/extras/decorators/README.md
  kedro/extras/decorators/__init__.py
  kedro/extras/decorators/memory_profiler.py
  kedro/extras/decorators/retry_node.py
  kedro/pipeline/decorators.py
  kedro/pipeline/node.py
  kedro/pipeline/pipeline.py
  tests/extras/decorators/__init__.py
  tests/extras/decorators/test_memory_profiler.py
  tests/extras/decorators/test_retry_node.py
  tests/pipeline/test_node.py
  tests/pipeline/test_pipeline.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Remove docs
  docs/source/07_extend_kedro/01_common_use_cases.md
  docs/source/07_extend_kedro/02_hooks.md
  docs/source/07_extend_kedro/07_decorators.md
  docs/source/15_api_docs/kedro.pipeline.rst
  docs/source/index.rst
Due: secret_scan

Deprecate decorators argument
  kedro/pipeline/node.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Deprecate pipeline decorators module
  kedro/pipeline/decorators.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Update RELEASE.md
  RELEASE.md
Due: secret_scan
