Repository kedro-org/kedro: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features, pylint-quick-tests

isort:
  name: Sort imports
  language: system
  entry: isort

black:
  name: Black
  language: system
  entry: black

secret_scan:
  name: Secret scan
  language: system
  pass_filenames: false
  entry: make secret-scan

bandit:
  name: Bandit security check
  language: system
  entry: bandit -ll

pylint-quick-kedro:
  name: Quick PyLint on kedro/*
  language: system
  entry: pylint -j 4 --disable=unnecessary-pass
  stages:
  - commit

pylint-quick-features:
  name: Quick PyLint on features/*
  language: system
  entry: pylint -j 4 --disable=missing-docstring,no-name-in-module
  stages:
  - commit

pylint-quick-tests:
  name: Quick PyLint on tests/*
  language: system
  entry: pylint -j 4 --disable=missing-docstring,redefined-outer-name,no-self-use,invalid-name,protected-access,too-many-arguments,too-many-public-methods
  stages:
  - commit

Make linter happy
  docs/source/14_contribution/technical_steering_committee.md
Due: secret_scan

Update detail on voting
  docs/source/14_contribution/technical_steering_committee.md
Due: secret_scan

Simplify language
  docs/source/14_contribution/technical_steering_committee.md
Due: secret_scan

Address PR comments
  kedro/framework/session/session.py
  kedro/runner/parallel_runner.py
  tests/framework/session/test_session_hook_manager.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Simplify voting language
  docs/source/14_contribution/technical_steering_committee.md
Due: secret_scan

Remove table
  docs/source/14_contribution/technical_steering_committee.md
Due: secret_scan

Rewrite introduction
  docs/source/14_contribution/technical_steering_committee.md
Due: secret_scan

[KED-3071] Bump minimum Pillow version (#1200)
  RELEASE.md
  setup.py
  test_requirements.txt
Due: isort, secret_scan, bandit

[AUTO-MERGE] Merge main into develop via merge-main-to-develop (#1195)
  .circleci/config.yml
  .github/dco.yml
  Makefile
  docs/source/contribution/developer_contributor_guidelines.md
  docs/source/data/data_catalog.md
  docs/source/logging/logging.md
  features/environment.py
  features/windows_reqs.txt
  kedro/extras/datasets/json/json_dataset.py
  kedro/framework/startup.py
  kedro/runner/parallel_runner.py
  tools/circleci/requirements.txt
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features

Try ignore tables from requirements
  .circleci/config.yml
  test_requirements.txt
Due: secret_scan

Fix link and add LF AI & Data reference
  README.md
  docs/source/01_introduction/01_introduction.md
  docs/source/12_faq/01_faq.md
  docs/source/14_contribution/technical_steering_committee.md
Due: secret_scan

Remove LF AI & Data icon
  static/img/lfaidata-project-badge-incubation-color.png
Due: secret_scan

Put back other builds
  .circleci/config.yml
Due: secret_scan

Revert "[AUTO-MERGE] Merge main into develop via merge-main-to-develop (#1195)"
  .circleci/config.yml
  .github/dco.yml
  Makefile
  docs/source/contribution/developer_contributor_guidelines.md
  docs/source/data/data_catalog.md
  docs/source/logging/logging.md
  features/environment.py
  features/windows_reqs.txt
  kedro/extras/datasets/json/json_dataset.py
  kedro/framework/startup.py
  kedro/runner/parallel_runner.py
  tools/circleci/requirements.txt
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features

Refactor tests. Direct key access instead of get()
  kedro/extras/datasets/pandas/sql_dataset.py
  tests/extras/datasets/pandas/test_sql_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Fix 3.9 win builds (#1202)
  test_requirements.txt
Due: secret_scan

Revert "[AUTO-MERGE] Merge main into develop via merge-main-to-develop (#1195)" (#1203)
  .circleci/config.yml
  .github/dco.yml
  Makefile
  docs/source/contribution/developer_contributor_guidelines.md
  docs/source/data/data_catalog.md
  docs/source/logging/logging.md
  features/environment.py
  features/windows_reqs.txt
  kedro/extras/datasets/json/json_dataset.py
  kedro/framework/startup.py
  kedro/runner/parallel_runner.py
  tools/circleci/requirements.txt
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-features

Fix unit test
  tests/extras/datasets/pandas/test_sql_dataset.py
Due: isort, black, secret_scan, pylint-quick-tests

Refactor class attribute
  kedro/extras/datasets/pandas/sql_dataset.py
  tests/extras/datasets/pandas/test_sql_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Add release notes
  RELEASE.md
Due: secret_scan

Fix linkcheck + remove clear_hook_manager
  docs/conf.py
  kedro/framework/session/session.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Patch linkchecker cause idk what is happening
  kedro/extras/datasets/pandas/sql_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Fix coverage
  tests/extras/datasets/pandas/test_sql_dataset.py
Due: isort, black, secret_scan, pylint-quick-tests

Make create hook manager private + add release notes
  RELEASE.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/tests/test_run.py
  kedro/framework/hooks/__init__.py
  kedro/framework/hooks/manager.py
  kedro/framework/session/session.py
  kedro/runner/parallel_runner.py
  tests/extras/datasets/spark/test_deltatable_dataset.py
  tests/extras/datasets/spark/test_spark_dataset.py
  tests/framework/context/test_context.py
  tests/framework/hooks/test_manager.py
  tests/pipeline/test_pipeline_from_missing.py
  tests/pipeline/test_pipeline_integration.py
  tests/runner/conftest.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Apply suggestions from Merel's code review
  CONTRIBUTING.md
Due: secret_scan

[KED-2865] Make sql datasets use a singleton pattern for connection (#1163)
  RELEASE.md
  kedro/extras/datasets/pandas/sql_dataset.py
  tests/extras/datasets/pandas/test_sql_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Update ipython version
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/requirements.txt
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
Due: secret_scan

Fix merge conflicts
  test_requirements.txt
Due: secret_scan

Update core.py
  kedro/io/core.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

Replicate in test reqs and setup.py
  setup.py
  test_requirements.txt
Due: isort, secret_scan, bandit

Apply suggestions from code review
  setup.py
  test_requirements.txt
Due: isort, secret_scan, bandit

new feature: filename_prefix
  kedro/io/partitioned_data_set.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro

[KED-3070] Bump ipython version to avoid security vulnerability (#1209)
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/requirements.txt
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
  setup.py
  test_requirements.txt
Due: isort, secret_scan, bandit

Make Windows Python 3.6 e2e tests not required
  .circleci/config.yml
Due: secret_scan

Fix and basic test
  kedro/extras/datasets/pickle/pickle_dataset.py
  tests/extras/datasets/pickle/test_pickle_dataset.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Fix tests
  tests/framework/session/test_session.py
Due: isort, black, secret_scan, pylint-quick-tests

Improve test and update RELEASE.md
  tests/extras/datasets/pickle/test_pickle_dataset.py
Due: isort, black, secret_scan, pylint-quick-tests

[KED-2004] Manage `hook_manager` lifecycle in session (#1153)
  RELEASE.md
  docs/conf.py
  features/load_context.feature
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/tests/test_run.py
  kedro/extras/extensions/ipython.py
  kedro/framework/context/context.py
  kedro/framework/hooks/__init__.py
  kedro/framework/hooks/manager.py
  kedro/framework/project/__init__.py
  kedro/framework/session/session.py
  kedro/runner/parallel_runner.py
  kedro/runner/runner.py
  kedro/runner/sequential_runner.py
  kedro/runner/thread_runner.py
  requirements.txt
  tests/extras/datasets/spark/test_deltatable_dataset.py
  tests/extras/datasets/spark/test_spark_dataset.py
  tests/framework/cli/pipeline/test_pipeline_package.py
  tests/framework/cli/test_cli_hooks.py
  tests/framework/context/test_context.py
  tests/framework/session/conftest.py
  tests/framework/session/test_session.py
  tests/framework/session/test_session_extension_hooks.py
  tests/framework/session/test_session_hook_manager.py
  tests/pipeline/test_pipeline_from_missing.py
  tests/pipeline/test_pipeline_integration.py
  tests/runner/conftest.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_sequential_runner.py
  tests/runner/test_thread_runner.py
Due: isort, black, secret_scan, bandit, pylint-quick-kedro, pylint-quick-tests

Path conditions:
  isort: any of: \.py$, but not: ^kedro/templates/|^features/steps/test_starter
  black: any of: ^kedro/|^features/|^tests/ and \.py$ and not (^features/steps/test_starter|^kedro/templates/)
  secret_scan: any file but: ^features/steps/test_starter
  bandit: any of: \.py$, but not: ^kedro/templates/|^tests/|^features/steps/test_starter
  pylint-quick-kedro: any of: ^kedro/ and \.py$ and not (^kedro/templates/)
  pylint-quick-features: any of: ^features/ and \.py$ and not (^features/steps/test_starter)
  pylint-quick-tests: any of: ^tests/ and \.py$
