Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-docs, build-code

Tidy
  .circleci/continue_config.yml
  features/environment.py
Due: build-code

Update release notes
  RELEASE.md
Due: build-code

Fix lint
  RELEASE.md
Due: build-code

Enforce `1 session = 1 run` (#1329)
  RELEASE.md
  docs/source/deployment/aws_batch.md
  docs/source/deployment/dask.md
  docs/source/extend_kedro/hooks.md
  docs/source/nodes_and_pipelines/run_a_pipeline.md
  kedro/framework/context/context.py
  kedro/framework/hooks/specs.py
  kedro/framework/session/session.py
  kedro/runner/parallel_runner.py
  kedro/runner/runner.py
  kedro/runner/sequential_runner.py
  kedro/runner/thread_runner.py
  tests/framework/hooks/test_manager.py
  tests/framework/session/conftest.py
  tests/framework/session/test_session.py
  tests/framework/session/test_session_extension_hooks.py
  tests/runner/test_parallel_runner.py
Due: build-docs, build-code

Add tldr
  RELEASE.md
Due: build-code

Update docs/source/tools_integration/ipython.md
  docs/source/tools_integration/ipython.md
Due: build-docs

Merge in latest notes
  RELEASE.md
Due: build-code

Remove init_kedro line magic
  kedro/extras/extensions/ipython.py
  tests/extras/extensions/test_ipython.py
Due: build-code

Add release notes for the change
  RELEASE.md
Due: build-code

Add abfss to list of cloud protocols
  kedro/io/core.py
Due: build-code

fix unit tests
  tests/framework/cli/micropkg/test_micropkg_pull.py
Due: build-code

Rename pipeline to micropkg where it makes sense
  kedro/framework/cli/micropkg.py
Due: build-code

Rename pipeline to mircopkg in tests
  kedro/framework/cli/micropkg.py
  tests/framework/cli/micropkg/test_micropkg_package.py
Due: build-code

Update release notes and notes/docs mentioning pipeline pull/package
  RELEASE.md
  docs/source/nodes_and_pipelines/micro_packaging.md
  kedro/framework/cli/micropkg.py
  tests/framework/cli/conftest.py
  tests/framework/cli/micropkg/test_micropkg_package.py
Due: build-docs, build-code

One more rename
  tests/framework/cli/micropkg/test_micropkg_requirements.py
Due: build-code

Update docs and release notes
  RELEASE.md
  docs/source/tools_integration/ipython.md
Due: build-docs, build-code

Document how users can continue a run/run a partial pipeline (#1340)
  docs/source/tools_integration/ipython.md
Due: build-docs

change output formatting and fix small issues form code review
  kedro/framework/cli/starters.py
Due: build-code

Speed up Windows CI (#1342)
  .circleci/continue_config.yml
  Makefile
  features/environment.py
  features/steps/cli_steps.py
Due: build-code

Address PR review to update doc string
  kedro/framework/cli/micropkg.py
Due: build-code

Refactor project_path, improve log message
  kedro/extras/extensions/ipython.py
  tests/extras/extensions/test_ipython.py
Due: build-code

Update release notes to reflect changes for pipeline commands to micropkg
  RELEASE.md
Due: build-code

Remove global
  kedro/extras/extensions/ipython.py
Due: build-code

Remove unused e2e steps
  .circleci/continue_config.yml
  features/steps/cli_steps.py
Due: build-code

Update features/steps/cli_steps.py
  features/steps/cli_steps.py
Due: build-code

Update Kedro Team list
  docs/source/12_faq/01_faq.md
Due: build-docs

Remove %s
  kedro/extras/extensions/ipython.py
Due: build-code

Remove the `init_kedro` line magic from the Kedro IPython extension (#1349)
  RELEASE.md
  docs/source/tools_integration/ipython.md
  kedro/extras/extensions/ipython.py
  tests/extras/extensions/test_ipython.py
Due: build-docs, build-code

Remove ipython_loader
  kedro/templates/project/{{ cookiecutter.repo_name }}/.ipython/profile_default/ipython_config.py
  tests/tools/ipython/__init__.py
  tests/tools/ipython/test_ipython_loader.py
  tools/ipython/README.md
  tools/ipython/__init__.py
  tools/ipython/ipython_loader.py
Due: build-code

Tidy requirements.txt
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
Due: build-code

Modify ipython command
  kedro/framework/cli/project.py
Due: build-code

Tidy requirements.txt
  requirements.txt
Due: build-code

Simplify jupyter notebook commands
  features/steps/test_starter/{{ cookiecutter.repo_name }}/.ipython/profile_default/ipython_config.py
  kedro/framework/cli/jupyter.py
  kedro/framework/cli/utils.py
  tests/framework/cli/test_jupyter.py
Due: build-code

Further simplify and remove ipython_message
  kedro/framework/cli/jupyter.py
  kedro/framework/cli/project.py
  kedro/framework/cli/utils.py
  tests/framework/cli/test_jupyter.py
  tests/framework/cli/test_project.py
Due: build-code

Add kernel installation
  kedro/extras/extensions/logo-32x32.png
  kedro/extras/extensions/logo-64x64.png
  kedro/framework/cli/jupyter.py
Due: build-code

Switch from MappingKernelManager to MultiKernelManager
  kedro/framework/cli/jupyter.py
  kedro/framework/cli/project.py
Due: build-code

Add message for when kernel already exists
  kedro/framework/cli/jupyter.py
Due: build-code

Add comment
  kedro/framework/cli/jupyter.py
Due: build-code

Lint
  kedro/framework/cli/jupyter.py
  tests/framework/cli/test_jupyter.py
Due: build-code

Redis dataset implementation (#1307)
  RELEASE.md
  docs/source/api_docs/kedro.extras.datasets.rst
  kedro/extras/datasets/redis/__init__.py
  kedro/extras/datasets/redis/redis_dataset.py
  setup.py
  static/jsonschema/kedro-catalog-0.18.json
  test_requirements.txt
  tests/extras/datasets/redis/test_redis_dataset.py
Due: build-docs, build-code

Path conditions:
  build-docs: any of: docs/.*
  build-code: any of: ^((?!docs/).)*$
