Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: develop
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

[Snyk] Security upgrade dask from 2.30.0 to 2021.10.0 (#1291)
  setup.py
  test_requirements.txt
Due: code_change

[KED-2931] Deprecate transformers (#1020)
  RELEASE.md
  kedro/extras/transformers/__init__.py
  kedro/io/data_catalog.py
Due: code_change

[KED-2898] Include nested pipeline configuration in packaging (#992)
  RELEASE.md
  kedro/framework/cli/pipeline.py
  tests/framework/cli/pipeline/test_pipeline_package.py
Due: code_change

Add generic pandas dataset to extras (#987)
  RELEASE.md
  docs/source/15_api_docs/kedro.extras.datasets.rst
  kedro/extras/datasets/pandas/__init__.py
  kedro/extras/datasets/pandas/generic_dataset.py
  setup.py
  static/jsonschema/kedro-catalog-0.17.json
  test_requirements.txt
  tests/extras/datasets/pandas/test_generic_dataset.py
Due: docs_change, code_change

[KED-2327] Verify: warning logged if load_version is not in data catalog (#1292)
  RELEASE.md
  kedro/io/data_catalog.py
  tests/io/test_data_catalog.py
Due: code_change

[KED-2897] Fix pipeline pull with unparseable requirements (#1280)
  RELEASE.md
  kedro/framework/cli/pipeline.py
  tests/framework/cli/pipeline/test_pipeline_requirements.py
Due: code_change

Revert to GitHub Apache 2.0 license template (#1287)
  LICENSE.md
Due: code_change

[KED-2667] - Add dataset specific contribution guidelines (#990)
  docs/package-lock.json
  docs/source/14_contribution/02_developer_contributor_guidelines.md
Due: docs_change

Remove notice from PR template (#1045)
  .github/PULL_REQUEST_TEMPLATE.md
Due: code_change

[KED-2927] Fix versioning tracking datasets (#1016)
  RELEASE.md
  kedro/extras/datasets/geopandas/geojson_dataset.py
  kedro/extras/datasets/tracking/json_dataset.py
  kedro/extras/datasets/tracking/metrics_dataset.py
  kedro/io/core.py
  tests/extras/datasets/tracking/test_json_dataset.py
  tests/extras/datasets/tracking/test_metrics_dataset.py
  tests/io/test_data_catalog.py
Due: code_change

Remove alphabetic sort on node inputs/outputs (#1059)
  RELEASE.md
  docs/source/07_extend_kedro/04_plugins.md
  kedro/pipeline/node.py
Due: docs_change, code_change

Fix pylint complaints after pylint release (#1072)
  .pre-commit-config.yaml
  features/steps/sh_run.py
  kedro/config/config.py
  kedro/config/templated_config.py
  kedro/framework/cli/cli.py
  kedro/framework/context/context.py
  kedro/framework/hooks/specs.py
  kedro/pipeline/node.py
  kedro/pipeline/pipeline.py
Due: code_change

Updated all docs and CI to point to main from master (#1304)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/conf.py
  docs/source/02_get_started/06_starters.md
  docs/source/03_tutorial/01_spaceflights_tutorial.md
  docs/source/03_tutorial/04_create_pipelines.md
  docs/source/04_kedro_project_setup/04_mini_kedro.md
  docs/source/07_extend_kedro/03_custom_datasets.md
  docs/source/07_extend_kedro/05_create_kedro_starters.md
  docs/source/09_development/01_set_up_vscode.md
  docs/source/09_development/02_set_up_pycharm.md
  docs/source/10_deployment/02_single_machine.md
  docs/source/10_deployment/03_distributed.md
  docs/source/10_deployment/04_argo.md
  docs/source/10_deployment/06_kubeflow.md
  docs/source/10_deployment/07_aws_batch.md
  docs/source/10_deployment/08_databricks.md
  docs/source/10_deployment/09_aws_sagemaker.md
  docs/source/10_deployment/10_aws_step_functions.md
  docs/source/11_tools_integration/02_ipython.md
  docs/source/12_faq/01_faq.md
  docs/source/14_contribution/02_developer_contributor_guidelines.md
  docs/source/14_contribution/03_backwards_compatibility.md
  docs/source/14_contribution/04_documentation_contributor_guidelines.md
  docs/source/index.rst
  kedro/framework/cli/cli.py
  kedro/framework/cli/starters.py
  kedro/framework/startup.py
  kedro/io/data_catalog_with_default.py
  kedro/versioning/journal.py
Due: docs_change, code_change

Bump pyarrow requirement (#1057)
  RELEASE.md
  setup.py
  test_requirements.txt
Due: code_change

Add `pandas.GBQQueryDataSet` (#1039)
  RELEASE.md
  docs/source/15_api_docs/kedro.extras.datasets.rst
  kedro/extras/datasets/pandas/__init__.py
  kedro/extras/datasets/pandas/gbq_dataset.py
  setup.py
  static/jsonschema/kedro-catalog-0.17.json
  tests/extras/datasets/pandas/test_gbq_dataset.py
Due: docs_change, code_change

Fix erroneous plugin count (#1047)
  kedro/framework/cli/hooks/manager.py
  kedro/framework/hooks/manager.py
Due: code_change

Add new logging config for CLI hooks manager (#1058)
  kedro/config/logging.yml
  tests/framework/cli/test_cli_hooks.py
Due: code_change

Update logging.yml (#1081)
  kedro/config/logging.yml
Due: code_change

[KED-2946] Deprecate `DataCatalogWithDefault` (#1060)
  RELEASE.md
  kedro/io/data_catalog_with_default.py
Due: code_change

Modify team members, history and companies using Kedro (#1051)
  README.md
  docs/source/12_faq/01_faq.md
  docs/source/14_contribution/04_documentation_contributor_guidelines.md
Due: docs_change, code_change

Update docs to reflect rename of astro-iris (#1079)
  docs/source/02_get_started/06_starters.md
  docs/source/10_deployment/11_airflow_astronomer.md
  kedro/framework/cli/starters.py
Due: docs_change, code_change

[KED-2891] Implement `spark.DeltaTable` dataset (#964)
  .circleci/config.yml
  RELEASE.md
  docs/conf.py
  docs/source/07_extend_kedro/04_plugins.md
  docs/source/11_tools_integration/01_pyspark.md
  docs/source/15_api_docs/kedro.extras.datasets.rst
  docs/source/meta/images/spark_delta_workflow.png
  kedro/extras/datasets/spark/__init__.py
  kedro/extras/datasets/spark/deltatable_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  setup.py
  test_requirements.txt
  tests/extras/datasets/spark/conftest.py
  tests/extras/datasets/spark/test_deltatable_dataset.py
  tests/extras/datasets/spark/test_spark_dataset.py
  tests/extras/datasets/spark/test_spark_hive_dataset.py
Due: docs_change, code_change

[e2e] Fix e2e tests on windows (#1093)
  features/environment.py
  kedro/framework/hooks/specs.py
  kedro/io/partitioned_data_set.py
Due: code_change

Fix Docs function signature for DryRunner._run (#1083)
  docs/source/06_nodes_and_pipelines/04_run_a_pipeline.md
Due: docs_change

[FIX] Add missing comma in the example (#1098)
  kedro/extras/datasets/api/api_dataset.py
Due: code_change

Cleanup after deltatable dataset merge (#1096)
  docs/source/11_tools_integration/01_pyspark.md
  kedro/extras/datasets/spark/deltatable_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  tests/extras/datasets/spark/test_spark_dataset.py
Due: docs_change, code_change

Ensure path is of type `str` if `overwrite` is set (#1094)
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
  kedro/io/core.py
  kedro/io/partitioned_data_set.py
  tests/extras/datasets/matplotlib/test_matplotlib_writer.py
Due: code_change

[KED-2961] Tidy CircleCI config (#1102)
  .circleci/config.yml
  Makefile
  pyproject_no_spark.toml
  tests/extras/datasets/spark/conftest.py
  tests/extras/datasets/tensorflow/test_tensorflow_model_dataset.py
Due: code_change

[KED-2961] Move scripts from private-kedro-sync (#1107)
  .circleci/config.yml
  tools/circleci/check-no-version-pypi.sh
  tools/circleci/circle-release.sh
  tools/circleci/docker_build_img/Dockerfile
  tools/circleci/docker_build_img/build.sh
  tools/circleci/github_scripts/attempt_merge_pr.sh
  tools/circleci/github_scripts/kedro_version.py
  tools/circleci/github_scripts/merge.sh
  tools/circleci/github_scripts/release.sh
  tools/circleci/requirements.txt
  tools/circleci/rtd-build.sh
Due: code_change

`APIDataSet` ease of use changes to `auth` interactions (#1105)
  RELEASE.md
  docs/source/05_data/01_data_catalog.md
  kedro/extras/datasets/api/api_dataset.py
  static/jsonschema/kedro-catalog-0.17.json
  tests/extras/datasets/api/test_api_dataset.py
Due: docs_change, code_change

Bump up version to 0.17.6 (#1106)
  CITATION.cff
  RELEASE.md
  docs/source/03_tutorial/02_tutorial_template.md
  docs/source/09_development/03_commands_reference.md
  docs/source/10_deployment/08_databricks.md
  kedro/__init__.py
Due: docs_change, code_change

Put back add_ssh_keys (#1127)
  .circleci/config.yml
Due: code_change

Pin pytables to match version installed through conda (#1139)
  setup.py
  test_requirements.txt
Due: code_change

Correct the new dataset example (#1087)
  RELEASE.md
  docs/source/07_extend_kedro/03_custom_datasets.md
  docs/source/meta/images/diffs-graphic.png
  kedro/extras/datasets/spark/deltatable_dataset.py
Due: docs_change, code_change

[KED-2419] Make pipeline and Pipeline consistent, take 2 (#1147)
  RELEASE.md
  features/steps/cli_steps.py
  features/steps/test_plugin/plugin.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipelines/data_engineering/pipeline.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipelines/data_science/pipeline.py
  kedro/pipeline/modular_pipeline.py
  kedro/pipeline/node.py
  kedro/pipeline/pipeline.py
  kedro/templates/pipeline/{{ cookiecutter.pipeline_name }}/pipeline.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
  tests/pipeline/test_pipeline_helper.py
Due: code_change

Add mention of CLI hooks in docs (#1146)
  docs/source/07_extend_kedro/02_hooks.md
Due: docs_change

[KED-3049] Update contributors guide to include guidance on DCO (#1167)
  docs/source/14_contribution/02_developer_contributor_guidelines.md
Due: docs_change

Update isort command (#1157)
  docs/source/09_development/04_lint.md
  kedro/framework/cli/project.py
  tests/framework/cli/test_project.py
Due: docs_change, code_change
